* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* primary button */
.primary-btn {
  background-color: #fd6e0a;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 1.3rem;
  cursor: pointer;
}

.common-class {
  max-width: 1200px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-ul,
li,
a {
  display: flex;
  gap: 80px;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

/* Hero section */
.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bnr-btn {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bnr-contact-btn {
  background-color: #fff8f3;
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 1.3rem;
  cursor: pointer;
}

/* about section */
.about-section {
  margin-top: 130px;
  margin-bottom: 130px;
}

.about-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  margin-top: 30px;
}
