* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* primary button */
.primary-btn {
  background-color: #fd6e0a;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 1.3rem;
  cursor: pointer;
}

.common-class {
  max-width: 1200px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-ul,
li,
a {
  display: flex;
  gap: 80px;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

/* Hero section */
.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bnr-btn {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bnr-contact-btn {
  background-color: #fff8f3;
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 1.3rem;
  cursor: pointer;
}

/* about section */
.about-section {
  margin-top: 130px;
  margin-bottom: 130px;
}

.about-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  margin-top: 30px;
}

.skill-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  margin-bottom: 130px;
  gap: 45px;
}

.js-details {
  height: 300px;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 10px 5px 40px gray;
}

/* resume section */

.resume-section {
  display: flex;
  gap: 71px;
}

/* work section */
.gellary {
  margin-top: 40px;
  text-align: center;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-template-areas:
    "one two three"
    "four two six"
    "four five six";
}

.gellary img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img1 {
  grid-area: one;
}
.img2 {
  grid-area: two;
}
.img3 {
  grid-area: three;
}
.img4 {
  grid-area: four;
}
.img5 {
  grid-area: five;
}
.img6 {
  grid-area: six;
}

/* footer section */
.footer-section {
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 117px;
}

.input {
  width: 350px;
  height: 50px;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.textarea {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
